@model  Blog.Models.Article

@{

    ViewBag.Title = "Details";
}

<div class="container">

    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <div class="well">
            <p>

                @Model.Content
            </p>
            <small class="author">
                --author @Model.Author.FullName
            </small>
            <footer>
                <div class="pull-left">
                    @foreach (var tag in Model.Tags)
                    {
                        <span>@Html.ActionLink(tag.Name, "ListArticlesByTag", "Tag", new { @id = tag.id }, new { @class = "btn btn-default btn-xs " })</span>
                    }
                </div>
            </footer>
        </div>
        <div class="pull-right">
            @if (User.IsInRole("Admin") || Model.isUserAuthor(User.Identity.Name))
            {
                @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })

            }
            @Html.ActionLink("Back", "ListCategories", "Home", null, new { @class = "btn btn-default btn-xs" })

        </div>

    </article>



</div>
<hr style="height:1px;border:none;color:#ff0000;background-color:#333;" />
<div class="text-center"><h1>Comment Section</h1></div>
<article>

    <div>
        @foreach (var comment in Model.Comments)
        {
            if (comment.ArticleId == Model.Id)
            {
                <div class="container">
                    <div class="well">
                        @comment.Content
                        <hr />
                        <div class="caption">
                            --@comment.CommentAuthor
                        </div>
                        <div>
                            @if (User.IsInRole("Admin") || Model.isUserAuthor(User.Identity.Name))
                            {
                                @Html.ActionLink("Delete", "Delete", "Comment", new { @id = comment.Id }, new { @class = "btn btn-danger btn-xs" })
                            }
                        </div>

                    </div>
                </div>

            }
        }
    </div>
 
</article>

<article>
    <div class="container">
        @Html.ActionLink("Add Comment", "Create", "Comment", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
    </div>  
</article>